extends layout

block content
  h1 CTF Login
  
  form(method="GET", action"/login")
    label(for="username") Username: 
    input(type="text", name="username", placeholder="JohnDoe")
    br
    label(for="password") Password: 
    input(type="password", name="password", placeholder="dogtags")
    br
    input(type="submit", value="Login")
    
block endscript
  script(src="javascripts/index.js")
