doctype html
html
  head
    title CTF
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="bower/jquery/dist/jquery.min.js")
    block headscripts
  body
    block content

  block endscript
