body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
  position:absolute;
  padding-left:auto;
  padding-right:auto;
  text-align: right;
}
